Team04_2/Fandango_XSD1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="schema1.xsd" namespace="http://www.w3.org/1999/xhtml" />
  <xs:element name="Fandango">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element name="title" type="xs:string" />
          <xs:element name="dateView" type="xs:string" />
          <xs:element name="TheaterName" type="xs:string" />
          <xs:element maxOccurs="unbounded" name="Movie">
            <xs:complexType>
              <xs:sequence>
                <xs:element xmlns:q1="http://www.w3.org/1999/xhtml" ref=" q1:photo"/>
                <xs:element name="movieName" type="xs:string" />
                <xs:element maxOccurs="unbounded" name="show">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                          <xs:pattern value="(0[0-9]|1[0-2]):([0-5][0-9])(PM|AM)"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="id" type="xs:unsignedByte" use="required" />
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>